body {
background-color : RGB(69, 102, 156);
background-image : url(../images/hibiscus_tiled_gw.png);
background-repeat : repeat;
position : relative;
}
#global {
	min-height:100%;
}
.entête {
	background-image: linear-gradient(silver, white);
}

#identifiant {
	text-align:center;	
	color: navy;
	font-weight: bold;
}

.entête em {
	font-size: 80%;
}

.navig{
	margin-top:1%;
	margin-left: auto;
	margin-right: auto;
}
.nav {
	border:ridge;	
	background-image: linear-gradient(silver, white);
	margin:auto;
	text-align:center;
	box-shadow:2px 3px 5px black;
	min-height:10em;
	max-height:50%;
}
.nav div{
	margin:auto;

}
.contact {
	margin:auto;
	width:100%;
}
.contact p{	
	text-align:center;
	border:ridge;	
	background-image: linear-gradient(silver, white);
}
.form {
	border:ridge;	
	background-image: linear-gradient(silver, white);
	margin:auto;
	margin-bottom:5%;
	margin-top:5%;
	box-shadow:2px 3px 5px black;
}
.lien {
	text-decoration: none;
}
.submenu{
	display:none;
}
.Competences:hover .submenu{
	display:block;
}
nav div div:hover .submenu{
	display:block;
}
nav{
	border:ridge;
	background-image: linear-gradient(silver, white);
}
nav ul {
	list-style:none;
	margin-left:0;
	padding-left:0;
	text-align:center;
	font-size:100%;
}
nav ul li a {
	margin-bottom:10%;
	text-align:center;
	margin:auto;
	font-weight: bold;
}
nav li :hover {
	background: #E0DFD5;
}
nav li :visited {
	color: blue;
}
.txt {
	margin-top:5%;
	margin-bottom:5%;
	margin-left: auto;
	margin-right: auto;
	padding:5%;
	border:ridge;
	border-color:black;
	font-size:150%;
	background-image: linear-gradient(silver, white);
	height:1%;
	box-shadow:2px 3px 5px black;
}
td, th /* Mettre une bordure sur les td ET les th */
{
    border: 1px solid black;
}
.marque{
	margin:1%;
}
.tableau {
    border-collapse: collapse;
	width:100%;
	border:ridge;
	border-color:black;
	font-size:100%;
	margin:auto;
	margin-bottom:5%;
	background-image: linear-gradient(silver, white);
}
.tableau tr {
	width:100%;
	margin:auto;
	text-align:center;
}
table{
	width:50%;
}
footer{
	background-image: linear-gradient(silver, white);
	border:ridge;
	border-color:black;
	text-align:center;
	padding-top:0.1%;
	padding-bottom:0.1%;
}

@media all and (min-width:992px ) and (min-height:900px) { /* adaptation de l'écran pour tout les écran de largeur supérieure à 992px */
	
	.navig{
	margin-top:1%;
	margin-left:1%;
	position:fixed;
	min-height:50%;
	}
	.txt {
	margin-top:4%;
	margin-bottom:5%;
	margin-left:20%;
	padding:5%;
	border:ridge;
	border-color:black;
	font-size:150%;
	background-image: linear-gradient(silver, white);
	height:1%;
	box-shadow:2px 3px 5px black;
	}
}
@media all and (max-height:900px) and (min-width:992px) {
	.navig{
	margin-top:5%;
	margin-left: auto;
	margin-right: auto;
	}
}
